{% extends 'base.html' %}

{% block content_no_container %}

<section id="links-create" class="jumbotron">
  <form class="form form-inline link-create-form" method="POST" action="{% url 'links:create' %}">
    {% csrf_token %}
    <div class="form-group">
      <input class="urlinput form-control" id="id_base_url" maxlength="200" name="base_url" type="url" placeholder='URL'>
    </div>
    <div class="form-group">
      <input class="textinput textInput form-control" id="id_name" maxlength="255" name="name" type="text" placeholder='Name for this url'>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</section>

<section id="links-list" class="container-fluid">
  <div class="list-group">
    {% for obj in object_list %}
    <div class="list-group-item">
      <span class="link-name">
        {{ obj.name }}
      </span>
      <a class="link-url btn-link" href="{% url 'links:shorten' obj.link_key %}" target="_blank">
        {{ domain }}{% url 'links:shorten' obj.link_key %}
      </a>
      <div class="btn-group pull-right">
        <a href="{% url 'links:update' obj.pk %}" class="btn btn-success btn-sm">
          Edit
        </a>
        <a href="{% url 'links:delete' obj.pk %}" class="btn btn-danger btn-sm">
          Delete
        </a>
      </div>
      <div class="clearfix"></div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock content_no_container %}