{% extends 'base.html' %}

{% block content_no_container %}

<section id="links-create" class="jumbotron">
  <form class="form form-inline link-create-form" method="POST" action="{% url 'links:create' %}">
    {% csrf_token %}
    <div class="form-group">
      <input class="urlinput form-control" id="id_base_url" maxlength="200" name="base_url" type="url" placeholder='URL'>
    </div>
    <div class="form-group">
      <input class="textinput textInput form-control" id="id_name" maxlength="255" name="name" type="text" placeholder='Name for this url'>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</section>

<section id="links-list" class="container-fluid">
  <div class="row">
    {% for obj in object_list %}
      <div class="col-md-4">
        {% include 'links/link_detail.html' %}
      </div>
    {% endfor %}
  </div>
</section>

{% endblock content_no_container %}